<div class="container mt-3">
    <h2>
      Danh mục sản phẩm
    </h2>
    <button type="button" class="btn btn-success" id="btnAdd" data-bs-toggle="modal" data-bs-target="#createModal">
      Tạo danh mục mới
    </button>

    <table class="table table-light mt-3">
    <thead>
      <tr>
        <th>Stt</th>
        <th>Tên Loại</th>
        <th>Ảnh</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
        {{#each catergories}}
      <tr>
        <td><h5 class="text-center mt-3">{{plus @index 1}}</h5></td>
        <td class=""><h5 class="text-center mt-3">{{this.TENLOAI}}</h5></td>
        <td class="d-flex justify-content-center"><img src="http://192.168.162.172:1144/imgs/{{this.ANHLOAI}}" alt="" class="myImgs"></td>
        <td>
          <div class="mt-3">
            <button class="btn btn-danger delete-cate" data-idloai="{{this.MALOAI}}">Xóa</button>
            <a class="btn btn-info edit-cate" href="catergory/edit/{{this.MALOAI}}">Sửa</a>
          </div>
            
        </td>
      </tr>
          {{/each}}
    </tbody>
  </table>

    <div class="my-5 cross-line "></div>
  </div>
  
  {{!-- madal create catergory --}}
  <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm danh mục mới</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <form id="menuFrom" action="/products/catergory/add" method="POST" enctype="multipart/form-data"> 
          <div class="mb-3 ">
          <label for="titleName" class="form-label">Đặt tên</label>
          <div class="d-flex justify-content-between">
                <input type="text" class="form-control" id="titleName" name="catName" >
          </div>
          
        </div>
        <div class="mb-3">
          <label for="formFile" class="form-label">Chọn ảnh</label>
          <input class="form-control" type="file" id="formFile" name="catImage">
        </div>
           <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          <button type="submit"  class="btn btn-primary" id="submit-button">Thêm</button>
        </div>
        </form>
        </div>
      </div>
    </div>
  </div>

<style>
img{
  width: 180px;
}

th{
  text-align: center;
}

.image-option {
    cursor: pointer;
    padding: 5px;
    display: flex;
}
.selected {
    background-color: #b4dc96;
}

.custom-dropdown{
    height: 120px;
    overflow-y: scroll;
    border: 1px solid lightblue;
    border-radius: 8px;
}
</style>

<script>
  $(document).on('click', '.delete-cate', function(event) {
  const maloai = $(this).data('idloai');
  const confirmation = confirm('Bạn có chắc chắn muốn xóa mục này không?');
  const thisRow = $(this).closest("tr")
   
  if (confirmation) {
    $.ajax({
      url: `/products/catergory/delete/${maloai}`,
      type: 'DELETE',
      success: function(res) {
        console.log(res.result);
        thisRow.remove()
      },
      error: function(error) {
        alert("Danh mục này đã có sản phẩm không được xóa!")
      }
    });
  }
});
</script>